h1{
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: darkmagenta;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    background-color: black;
    border: solid;
    display: flex;
    justify-content: space-between;
}

.menu{
    
}

.grid{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}